* {
    margin: 0;
    padding: 0;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    background-color: #36393F;
}

nav {
    height: 100%;
    z-index: 1;
    top: 0;
    margin-left: -340px;
    background-color: #111;
    display: flex;
    transition: 0.4s;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.header {
    height: 70px;
    width: 100%;
    color: #fff;
}

.header .title {
    padding: 26px;
}

nav.open {
    margin-left: 0px;
}
/* member list styling */
.member {
    background-color: #202225;
    padding: 10px 10px;
}

.member hr {
    border-color: #36393F;
    border-style: solid;
}

.member .person {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px 0;
    transition: 0.2s;
    opacity: 1;
}

.member .person:hover {
    border-radius: 35%;
    opacity: 0.7;
}

/* sidebar styling */
.sidebar {
    color: #96989D;
    background-color: #2F3136;
    width: 240px;
    flex: 0 0 auto;
    flex-direction: column;
}

.sidebar .a {
    display: block;
    font-size: 24;
}

.sidebar hr {
    border-color: #202225;
    border-style: solid;
}

.sidebar .header {
    background-color: #2F3136;
}

.sidebar .menu {
    padding: 26px;
}

.sidebar .menu ul {
    list-style: none;
}

.sidebar .menu li {
    margin: 2px 0;
    padding: 5px;
    border-radius: 6px;
    cursor:pointer;
}

.sidebar .menu li.active {
    background-color:#36393F;
    color:#ddd
}

.sidebar .menu li:before {
    content: "#";
    padding-right: 5px;
}

.sidebar .menu li:hover {
    background-color:#44484f;
    color: #fff;
}

/* content styling */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content .header {
    background-color: #36393F;
    display: flex;
    flex-direction: row;
}


.content .header .title {
    padding-left: 10px;
}
.content .header .togglenav {
    padding: 26px 10px;
}

.content hr {
    border-color: #202225;
    border-style: solid;
}

.content .main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 26px;
    border: none;
}
